---
- name: Ceph control node
  slug: ceph-control-node
  color: Orange
- name: Ceph resource node
  slug: ceph-resource-node
  color: Orange
- name: Compute node
  slug: compute-node
  color: Blue
- name: Control node
  slug: control-node
  color: Blue
- name: Management node
  slug: management-node
  color: Green
- name: Monitoring node
  slug: monitoring-node
  color: Green
- name: Network node
  slug: network-node
  color: Blue
