---
{{ netbox_ansibleuser_name }}:
  api_token: "{{ netbox_ansibleuser_api_token }}"
  # $ ./manage.py shell
  # > from django.contrib.auth.models import Permission
  # > print('\n'.join([p.codename for p in Permission.objects.all()]))
  permissions:
    - add_device
    - add_interface
    - add_ipaddress
    - change_device
    - view_device
    - view_devicerole
    - view_devicetype
    - view_interface
    - view_ipaddress
    - view_site
    - view_tag
