---
version: '3'
services:
  osism-ansible:
    restart: unless-stopped
    image: "{{ osism_ansible_image }}"
{% if ara_enable %}
    env_file:
      - "{{ manager_configuration_directory }}/ara.env"
{% endif %}
    command: sleep infinity
    volumes:
      - /etc/hosts:/etc/hosts:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - "cache:{{ cache_directory }}"
      - "logs:{{ logs_directory }}"
      - "share:/share"
      - "{{ archive_directory }}:/archive:rw"
      - "{{ configuration_directory }}:/opt/configuration:ro"
      - "{{ secrets_directory }}:/ansible/secrets:ro"
    depends_on:
{% if redis_enable %}
      - redis
{% endif %}
{% if ara_enable %}
      - ara-server
{% endif %}
{% if ceph_ansible_enable %}
  ceph-ansible:
    restart: unless-stopped
    image: "{{ ceph_ansible_image }}"
{% if ara_enable %}
    env_file:
      - "{{ manager_configuration_directory }}/ara.env"
{% endif %}
    command: sleep infinity
    volumes:
      - /etc/hosts:/etc/hosts:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - "cache:{{ cache_directory }}"
      - "logs:{{ logs_directory }}"
      - "share:/share"
      - "{{ configuration_directory }}:/opt/configuration:ro"
      - "{{ secrets_directory }}:/ansible/secrets:ro"
    depends_on:
{% if redis_enable %}
      - redis
{% endif %}
{% if ara_enable %}
      - ara-server
{% endif %}
{% endif %}
{% if kolla_ansible_enable %}
  kolla-ansible:
    restart: unless-stopped
    image: "{{ kolla_ansible_image }}"
{% if ara_enable %}
    env_file:
      - "{{ manager_configuration_directory }}/ara.env"
{% endif %}
    command: sleep infinity
    volumes:
      - /etc/hosts:/etc/hosts:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - "cache:{{ cache_directory }}"
      - "logs:{{ logs_directory }}"
      - "share:/share"
      - "{{ configuration_directory }}:/opt/configuration:ro"
      - "{{ secrets_directory }}:/ansible/secrets:ro"
    depends_on:
{% if redis_enable %}
      - redis
{% endif %}
{% if ara_enable %}
      - ara-server
{% endif %}
{% endif %}
{% if redis_enable %}
  redis:
    restart: unless-stopped
    image: "{{ redis_image }}"
    command: redis-server --appendonly yes
    volumes:
      - "redis:/data"
    healthcheck:
      test: redis-cli ping
    networks:
      default:
        aliases:
          - cache
{% endif %}
{% if ara_enable %}
  ara-server:
    restart: unless-stopped
    image: "{{ ara_server_image }}"
    env_file:
      - "{{ manager_configuration_directory }}/ara-server.env"
      - "{{ manager_configuration_directory }}/ara.env"
    volumes:
      - /etc/hosts:/etc/hosts:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    ports:
      - "{{ ara_server_host }}:{{ ara_server_port }}:8000"
    depends_on:
      - mariadb
    healthcheck:
      test: curl --silent --fail --basic --user $$ARA_API_USERNAME:$$ARA_API_PASSWORD http://localhost:8000
  mariadb:
    restart: unless-stopped
    image: "{{ mariadb_image }}"
    env_file:
      - "{{ manager_configuration_directory }}/mariadb.env"
    volumes:
      - "mariadb:/var/lib/mysql"
    healthcheck:
      test: mysqladmin status -h localhost -u $$MYSQL_USER -p$$MYSQL_PASSWORD || exit 1
{% endif %}
{% if awx_enable %}
  awx-web:
    image: "{{ awx_image }}"
    command: /run.sh
    restart: unless-stopped
    hostname: awxweb
    user: root
    depends_on:
      - memcached
      - postgres
      - redis
{% if awx_vault_type == 'vault' %}
      - vault
{% endif %}
    volumes:
      - /etc/hosts:/etc/hosts:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - "{{ manager_configuration_directory }}/SECRET_KEY:/etc/tower/SECRET_KEY"
      - "{{ manager_configuration_directory }}/awx.env:/etc/tower/conf.d/environment.sh"
      - "{{ manager_configuration_directory }}/credentials.py:/etc/tower/conf.d/credentials.py"
      - "{{ manager_configuration_directory }}/nginx.conf:/etc/nginx/nginx.conf:ro"
      - "{{ manager_configuration_directory }}/settings.py:/etc/tower/settings.py"
      - "{{ configuration_directory }}:/opt/configuration:ro"
      - "{{ secrets_directory }}:/ansible/secrets:ro"
      - "awx_logs:/ansible/logs"
      - "awx_share:/share"
    ports:
      - "{{ awx_server_host }}:{{ awx_server_port }}:8052"
    environment:
      WAIT_HOSTS: memcached:11211, redis:6379, postgres:5432, vault:8200
    env_file:
      - "{{ manager_configuration_directory }}/awx.env"
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    healthcheck:
      test: curl --silent --fail http://localhost:8052/api/v2
  awx-task:
    image: "{{ awx_image }}"
    command: /run.sh
    restart: unless-stopped
    hostname: awx
    user: root
    depends_on:
      - memcached
      - postgres
      - redis
{% if awx_vault_type == 'vault' %}
      - vault
{% endif %}
{% if ara_enable %}
      - ara-server
{% endif %}
    volumes:
      - /etc/hosts:/etc/hosts:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - "{{ manager_configuration_directory }}/SECRET_KEY:/etc/tower/SECRET_KEY"
      - "{{ manager_configuration_directory }}/awx.env:/etc/tower/conf.d/environment.sh"
      - "{{ manager_configuration_directory }}/credentials.py:/etc/tower/conf.d/credentials.py"
      - "{{ manager_configuration_directory }}/settings.py:/etc/tower/settings.py"
      - "{{ configuration_directory }}:/opt/configuration:ro"
      - "{{ secrets_directory }}:/ansible/secrets:ro"
      - "awx_logs:/ansible/logs"
      - "awx_share:/share"
    env_file:
      - "{{ manager_configuration_directory }}/awx.env"
{% if ara_enable %}
      - "{{ manager_configuration_directory }}/ara.env"
{% endif %}
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
  postgres:
    image: "{{ postgres_image }}"
    restart: unless-stopped
    env_file:
      - "{{ manager_configuration_directory }}/postgres.env"
    volumes:
      - postgres:/var/lib/postgresql/data
    healthcheck:
      test: pg_isready -U postgres
  memcached:
    image: "{{ memcached_image }}"
    restart: unless-stopped
    healthcheck:
      test: nc -z 127.0.0.1 11211
{% if awx_vault_type == 'vault' %}
  vault:
    image: "{{ vault_image }}"
    command: server -config=/vault/config -dev -dev-root-token-id={{ vault_token }} -dev-listen-address=0.0.0.0:8200
    restart: unless-stopped
    ports:
      - "{{ vault_host }}:{{ vault_port }}:8200"
    env_file:
      - "{{ manager_configuration_directory }}/vault.env"
# NOTE: during the TP the service runs in-memory
#    volumes:
#      - vault:/vault/file
    cap_add:
      - IPC_LOCK
    healthcheck:
      test: nc -z 127.0.0.1 8200
{% endif %}
{% endif %}
volumes:
{% if awx_enable %}
  awx_share:
  awx_logs:
  postgres:
{% if awx_vault_type == 'vault' %}
  vault:
{% endif %}
{% endif %}
  cache:
  logs:
{% if ara_enable %}
  mariadb:
{% endif %}
{% if redis_enable %}
  redis:
{% endif %}
  share:

networks:
 default:
   driver: bridge
   ipam:
     driver: default
     config:
       - subnet:  {{ manager_network }}
