---
version: '2'
services:
  osism-ansible:
    restart: unless-stopped
    image: "{{ osism_ansible_image }}"
    entrypoint: sleep infinity
    volumes:
      - "/etc/hosts:/etc/hosts:ro"
      - "cache:{{ cache_directory }}"
      - "logs:{{ logs_directory }}"
      - "share:/share"
      - "{{ archive_directory }}:/archive:rw"
      - "{{ configuration_directory }}:/opt/configuration:ro"
      - "{{ secrets_directory }}:/ansible/secrets:ro"
    depends_on:
      - cache
      - ara-server
{% if ceph_ansible_enable %}
  ceph-ansible:
    restart: unless-stopped
    image: "{{ ceph_ansible_image }}"
    entrypoint: sleep infinity
    volumes:
      - "/etc/hosts:/etc/hosts:ro"
      - "cache:{{ cache_directory }}"
      - "logs:{{ logs_directory }}"
      - "share:/share"
      - "{{ configuration_directory }}:/opt/configuration:ro"
      - "{{ secrets_directory }}:/ansible/secrets:ro"
    depends_on:
      - cache
      - ara-server
{% endif %}
{% if kolla_ansible_enable %}
  kolla-ansible:
    restart: unless-stopped
    image: "{{ kolla_ansible_image }}"
    entrypoint: sleep infinity
    volumes:
      - "/etc/hosts:/etc/hosts:ro"
      - "cache:{{ cache_directory }}"
      - "logs:{{ logs_directory }}"
      - "share:/share"
      - "{{ configuration_directory }}:/opt/configuration:ro"
      - "{{ secrets_directory }}:/ansible/secrets:ro"
    depends_on:
      - cache
      - ara-server
{% endif %}
  cache:
    restart: unless-stopped
    image: "{{ redis_image }}"
    command: redis-server --appendonly yes
    volumes:
      - "redis:/data"
  ara-server:
    restart: unless-stopped
    image: "{{ ara_server_image }}"
    environment:
      ARA_CONFIG: /ara.cfg
      ARA_DATABASE: "mysql+pymysql://{{ ara_server_mariadb_username }}:{{ ara_server_mariadb_password }}@database/{{ ara_server_mariadb_databasename }}"
    volumes:
      - "/etc/hosts:/etc/hosts:ro"
      - "{{ manager_configuration_directory }}/ara.cfg:/ara.cfg:ro"
    ports:
      - "{{ ara_server_host }}:{{ ara_server_port }}:9191"
    depends_on:
      - database
  database:
    restart: unless-stopped
    image: "{{ mariadb_image }}"
    environment:
      MYSQL_DATABASE: "{{ ara_server_mariadb_databasename }}"
      MYSQL_PASSWORD: "{{ ara_server_mariadb_password }}"
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_USER: "{{ ara_server_mariadb_username }}"
    volumes:
      - "mariadb:/var/lib/mysql"
volumes:
  cache:
  logs:
  mariadb:
  redis:
  share:
